spring.application.name=amIHired
spring.datasource.url=CHANGE-ME
spring.datasource.username=CHANGE-ME
spring.datasource.password=CHANGE-ME
server.port=8080

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect